# 2022년

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

plt.rcParams['font.family'] ='Malgun Gothic'
plt.rcParams['axes.unicode_minus'] =False

### 여기에 해당 연월 사건수 출력(데이터프레임)을 넣어주세요

In [ ]:
#case_2022 로 결과값 도출 요망

In [3]:
# CSV 파일 읽기
population_report = pd.read_csv('./미니프로젝트/2022인구통계.csv', encoding='EUC-KR')

# 빈 딕셔너리 생성
population_result_2022 = {'행정구역': [], '인구수': []}

# 데이터 추출
for i in range(1, len(population_report)):  # len(report) -> len(report_2021)
    population_result_2022['행정구역'].append(population_report['행정구역'][i])
    population_result_2022['인구수'].append(population_report['2022년12월_총인구수'][i])

# DataFrame 생성
population_2022 = pd.DataFrame(population_result_2022)

# 결측치 및 문자열 처리
population_2022['행정구역'] = population_2022['행정구역'].fillna('').str.replace(r'\s*\(.*?\)', '', regex=True)

# 결과 출력
population_2022

       행정구역         인구수
0     서울특별시   9,428,372
1     부산광역시   3,317,812
2     대구광역시   2,363,691
3     인천광역시   2,967,314
4     광주광역시   1,431,050
5     대전광역시   1,446,072
6     울산광역시   1,110,663
7   세종특별자치시     383,591
8       경기도  13,589,432
9       강원도   1,536,498
10     충청북도   1,595,058
11     충청남도   2,123,037
12     전라북도   1,769,607
13     전라남도   1,817,697
14     경상북도   2,600,492
15     경상남도   3,280,493
16  제주특별자치도     678,159

In [ ]:
# 두 데이터프레임을 '행정구역'을 기준으로 병합
merged_df = pd.merge(case_2022, population_2022, on='행정구역', how='inner', suffixes=('_사건수', '_인구수'))

# 결과 출력
merged_df